<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Productos</title>
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <header>
    
      <nav class="Navegacion">

          <picture class="logo">
            <a  href="../../Index.html"><img src="../Images/Hanna Huttmann Logo1.jpg" alt="Logo de la Marca Hanna Baking" width="200" height="200"></a>
          </picture>
          
        
          <ul class="menu">
              <li><a href="../../Index.html">Home</a></li>
              <li><a href="about.html">Nosotros</a></li>
              <li><a href="service.html">Servicios</a></li>
              <li><a href="contact.html">Contacto</a></li>
            
          </ul>

      </nav>
    </header>
       
    <main>
        <h1>
            Nuestros Productos 
        </h1>
      <ul class="productos">
          <li>Macarons</li>
          <li>Alfajores</li>
          <li>Shots</li>
          <li>Masas Finas</li>
          <li>Cupcakes</li>
          <li>Desayunos Personalizados</li>
      </ul>
    </main>
    <footer>
        <nav>
            <ul class="menufot">
              
                <li><a href="../../Index.html">Home</a></li>
                <li><a href="about.html">Nosotros</a></li>
                  <ul class="subMenu">
                      <li><a href="clasicas.html">Tortas Clasicas</a></li>
                      <li><a href="personalizado.html">Tortas Personalizadas</a></li>
                      <li><a href="postres.html">Postres</a></li>
                      <li><a href="boxdulces.html">Box Dulces</a></li>
                     
                  </ul>
              
              </li>
  
                <li><a href="services">Servicios</a></li>
                <li><a href="contact.html">Contacto</a></li>
                
            </ul>
  


        </nav>
        

    </footer>
</body>
</html>