<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="../css/service.css">
</head>
<body>
    <header> 
        <nav class="Navegacion">
            <a class="logo" href="../../Index.html"><img src="../Images/Hanna Huttmann Logo1.jpg" alt="" width="200" height="200"></a>
            <ul class="menu">
                <li><a href="../../Index.html">Home</a></li>
                <li><a href="about.html">Nosotros</a></li>
                <li><a href="product.html">Productos</a>
                  <ul class="subMenu">
                      <li><a href="clasicas.html">Tortas Clasicas</a></li>
                      <li><a href="personalizado.html">Tortas Personalizadas</a></li>
                      <li><a href="postres.html">Postres</a></li>
                      <li><a href="boxdulces.html">Box Dulces</a></li>
                  </ul>
              
                </li>
                <li><a href="contact.html">Contacto</a></li>
                
            </ul>
  
        </nav>


    </header>
    <main>
       <h1>Nuestros Servicios</h1>
       <br>
       <h3>
           Hanna Baking te ofrece varios tipos de servicios:
           
       </h3>
       <section class="servicios">
        <ul>
            <li>Tortas Clasicas</li>
            <li>Tortas Personalizadas</li>
            <li>Desayunos Personalizados</li>
            <li>Postres Varios</li>
            <li>Box Dulces</li>
        </ul>
    </section>
    </main>
    <footer>
        <nav>
            <ul class="menufot">
              
                <li><a href="../../Index.html">Home</a></li>
                <li><a href="product.html"> Productos</a></li>
                  <ul class="subMenu">
                      <li><a href="clasicas.html">Tortas Clasicas</a></li>
                      <li><a href="personalizado.html">Tortas Personalizadas</a></li>
                      <li><a href="postres.html">Postres</a></li>
                      <li><a href="boxdulces.html">Box Dulces</a></li>
                     
                  </ul>
              
              </li>
  
                <li><a href="about.html">Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
                
            </ul>
  


        </nav>
        
    </footer>

    
</body>
</html>