*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #FBC5D6;
    
    
}
header{
    
    background-image:url(../Images/torta\ fondo.jpg);
    display: flex;
   
    
}

nav{

  
    width: 90%;
    margin: 5px auto;
    
  
}
nav .menu{
    position: relative;
    display: inline flex;
    top: 20px;
    right: -300px;
    list-style: none;
    width: 90%;
    margin: auto;
    background-color: rgb(255, 92, 138);
}
.menu>li{
    position: relative;
    display: inline-block;
 
 
 }
.menu>li>a:hover{
    color:antiquewhite;
}
.subMenu{
    position: absolute;
    width: 100%;
    display: none;
    color: rgb(164, 19, 60);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    

}

.menu li:hover .subMenu{
    display: block;
}

.subMenu li a {
    display: block;
    padding: 5px;
}

.home{
    display: flex;
   
}
h3{
    color:rgb(3, 102, 102);
    padding-left: 420px;
}
.menu>li>a{
    display: block;
    text-decoration: none;
    padding: 15px 50px;
    color: rgb(164, 19, 60);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
.servicios{
    display: block;
    text-decoration: none;
    padding: 15px 550px;
    color: rgb(20, 116, 111);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;

}
h1{
    color:rgb(20, 116, 111); 
    padding: 20px 500px;
}
.menufot>li{
    position: relative;
    display: inline-block;
 
 
 }
nav .menufot{
    position: relative;
    display: inline flex;
    top: 20px;
    right: -300px;
    list-style: none;
    width: 90%;
    margin: auto;
    background-image: url(../Images/fondo\ rosa.jpg);
}
.menufot>li>a{
    display: block;
    text-decoration: none;
    padding: 15px 50px;
    color:  rgb(164, 19, 60);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
.menufot>li>a:hover{
    color:antiquewhite
}
